<!-- <form [formGroup]="loginForm" (ngSubmit)="login()">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Username</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="username">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form> -->

<div class="container-fluid login">
  <!-- <div class="container">
    <div class="row">
      <div class="card col-md-5">
        <div class="card-body">
          <img >
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        </div>
      </div>
      <div class="card col-md-5">
        <div class="card-body">
          <img >
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        </div>
      </div>
    </div>
  </div> -->
  <div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Username</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="username">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
      <div class="mb-3">
        <a routerLink="register">Create an account</a>
      </div>
    </form>
  </div>
</div>
<!-- Footer -->
<div class="container-fluid text-center footer">
  <p>Coded with &hearts; by <a href="https://github.com/kilmatic">Kil'matic</a></p>
</div>
