.register {
  background-color: #f2e8e3;
  width: 400px;
  /* height: 500px; */
  margin-top: 2em;
  margin-bottom: 1em;
  padding: 2em;
}
.card {
  margin: 2em 0 1.5em 1.5em;
  width: 150px;
  height: 150px;
}
.btn {
  margin-bottom: 1em;
}

